#input {
    text-align:center;
    width: 90%;
    max-width: 800px;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:20px;
    background: #fefbe8;
    color: #0050a0;
}

td#tdinput{
    width: 90%;
    align-content: center;
}

.buttonrandom {
    color: #787878;
    background-color: #c4c4c4;
    padding: 2px 2px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
}

#randLen {
    width: 45px;
    background-color: #f8f8f8;
    padding: 2px 2px;
    margin: 0px;
}

/* unvisited link */
a:link {
    color: #1b5fff;
}

/* visited link */
a:visited {
    color: #1b5fff;
}

/* mouse over link */
a:hover {
    color: #0020ff;
}

/* selected link */
a:active {
    color: #1b5fff;
}




img {
    max-width: 100%;
}

hr{
    max-width: 750px;
    border-top: 1px dashed #cecece;
}

#foundwords {
text-align: left;
    padding: 20px;
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 8px 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 190px;
}



td {
    height: 0px;
    text-align: center;
}

td#leftcell {
    text-align: left;
    border: 1px solid #f6f6f8;
    border-bottom: 2px dotted #787878;
    text-align: left;
    vertical-align: top;
}

td#decorate {
    width: 20px;
    height: 14px;
    text-align: center;
    border: 1px solid #008000;
    background: #fefbe8;
    margin: 5px;
    font-size: 20px;
}

#page-wrap {
    width: 80%;
    margin: 0 auto;
    justify-content: center
}

html {
    text-align: center;
}

#grid {
    text-align: center;
    width:100%;
    height:100%;
}

table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
}



